* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, head, main, body {
  height: 100%;
  width: 100%;
}

.Buttons {
  width: 300px;
  border: 5px solid red;
  display: flex;
  flex-direction: column;
}

.Button-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid blue;
}

.Button-Numbers {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid green;
}

.Button-Operators {
  width: 25%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid black;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
}