* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set default containers to 100% of screen */
html, head, main, body {
  height: 100%;
  width: 100%;
}

/* Buttons Constainer and its Children */
.Buttons {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.Button-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  border: 2px solid blue;
}

.Button-Numbers {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid green;
}

.Button-Operators {
  width: 25%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 1px solid black;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Display Container */
.Display {
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid purple;
}

.App-Buttons {
  display: flex;
  justify-content: space-between;
  height: 30px;
  -webkit-app-region: drag;
  border: 1px solid orange;
}

.App-Button {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.Calculator {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

#App-Name {
  flex: 1;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}