* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set default containers to 100% of screen */
html, head, main, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Calculator Container */
.Calculator-Wrap {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.Calculator {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px; /* Hardcoded */
  -webkit-app-region: drag;
  background-color: black;
}

.Navbar-Title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Navbar-Title svg {
  margin: 0;
  padding: 0;
  display: block; /* Remove default SVG margin */
}

#App-Name {
  margin-left: 2px;
  margin-right: 5px;
}

#App-Name svg {
  color: white;
}

.App-Name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: flex-start;
  font-size: 16px;
  overflow: hidden; /* Hide/Cut text behind borders */
  text-overflow: ellipsis; /* Use ellipsis to cut text */
  white-space: nowrap; /* Prevent text from wrapping */
  user-select: none; /* Prevent text selection */
  color: white;
}

.Navbar-Buttons-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.Navbar-Buttons {
  display: flex;
  flex-direction: row;
}

.App-Button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  -webkit-app-region: no-drag;
  color: white;
}

.App-Button svg {
  margin: 0;
  padding: 0;
  display: block; /* Remove default SVG margin */
}

.App-Button:hover {
  opacity: 100%;
  background-color: rgb(180, 180, 180);
}

#App-Button-Close:hover {
  background-color: red;
}

/* Display Container */
.Display {
  min-height: 75px; /* Hardcoded height for Display*/
  max-height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  padding: 0 15px;
}

/* Buttons Constainer and its Children */
.Buttons {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%; /* Buttons take remaining render */
}

.Button-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  min-height: 100%; /* Buttons take remaining render */
  min-width: 100%;  /* Buttons take remaining render */
}

.Button-Numbers {
  width: 75%; /* 75% of the screen taken by Button-Numbers container */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);

  background-color: black;
}

.Button-Operators {
  width: 25%; /* 25% of the screen taken by Button-Numbers container */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: orange;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  font-weight: bold;
}

.Button:hover {
  background-color: #7289da;
}